/* Social */
.icmag {
    height: 16px;
    background-position: -7px -418px; /*** Social - Gray - Mail ***/
    width: 16px;
}

.icfbg {
    height: 16px;
    background-position: -26px -418px; /*** Social - Gray - Facebook ***/
    width: 16px;
}

.ictwg {
    height: 16px;
    background-position: -45px -418px; /*** Social - Gray - Twitter ***/
    width: 16px;
}

.icgpg {
    height: 16px;
    background-position: -65px -418px; /*** Social - Gray - Google+ ***/
    width: 16px;
}

.icpig {
    height: 16px;
    background-position: -84px -418px; /*** Social - Gray - Pimterest ***/
    width: 16px;
}

.icstg {
    height: 16px;
    background-position: -104px -418px; /*** Social - Gray - Stumbleupon ***/
    width: 16px;
}

.icdig {
    height: 16px;
    background-position: -124px -418px; /*** Social - Gray - Digg ***/
    width: 18px;
}

/*
     FILE ARCHIVED ON 12:12:34 Jan 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:00:27 Nov 26, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 862.683
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.071
  cdx.remote: 0.068
  esindex: 0.01
  LoadShardBlock: 175.007 (3)
  PetaboxLoader3.datanode: 64.338 (4)
  load_resource: 66.707
  PetaboxLoader3.resolve: 42.616
*/
