/* Social */
.icmag {
    height: 16px;
    background-position: -7px -418px; /*** Social - Gray - Mail ***/
    width: 16px;
}

.icfbg {
    height: 16px;
    background-position: -26px -418px; /*** Social - Gray - Facebook ***/
    width: 16px;
}

.ictwg {
    height: 16px;
    background-position: -45px -418px; /*** Social - Gray - Twitter ***/
    width: 16px;
}

.icgpg {
    height: 16px;
    background-position: -65px -418px; /*** Social - Gray - Google+ ***/
    width: 16px;
}

.icpig {
    height: 16px;
    background-position: -84px -418px; /*** Social - Gray - Pimterest ***/
    width: 16px;
}

.icstg {
    height: 16px;
    background-position: -104px -418px; /*** Social - Gray - Stumbleupon ***/
    width: 16px;
}

.icdig {
    height: 16px;
    background-position: -124px -418px; /*** Social - Gray - Digg ***/
    width: 18px;
}

/*
     FILE ARCHIVED ON 11:47:56 Sep 01, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:01:10 Nov 26, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1009.662
  exclusion.robots: 0.087
  exclusion.robots.policy: 0.077
  cdx.remote: 0.064
  esindex: 0.009
  LoadShardBlock: 239.412 (3)
  PetaboxLoader3.resolve: 226.311 (4)
  PetaboxLoader3.datanode: 90.962 (4)
  load_resource: 97.372
*/
